<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/homenavbar.ejs') %> 
    <div class="container mb-2 mt-2">
        <%- include('./partials/categories.ejs') %>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Blog do WeneDev</h1>
              <p class="lead my-3">Várias linhas formando uma introdução, informando novos leitores rápido e eficientemente sobre o que é mais interessante, neste post.</p>
              <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue lendo...</a></p>
            </div>
          </div>
        <div class="row">
            <% articles.forEach(article =>{%>

            <div class="col-sm-6 mb-2">
                <div class="card border-info">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= article.title %></h5>
                        <a href="/<%= article.slug %>" class="btn btn-outline-primary">Ler artigo</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>